In [3]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)
import os

In [34]:
cwd = os.getcwd()
df = pd.read_csv(cwd+'/datasets/Bengaluru_House_Data.csv')
print(df.shape)
print(df.head())

# removed certain columns for simplicity 
df.drop(['area_type', 'society', 'balcony', 'availability'], axis=1, inplace=True)
df.head()

(13320, 9)
              area_type   availability                  location       size  \
0  Super built-up  Area         19-Dec  Electronic City Phase II      2 BHK
1            Plot  Area  Ready To Move          Chikka Tirupathi  4 Bedroom
2        Built-up  Area  Ready To Move               Uttarahalli      3 BHK
3  Super built-up  Area  Ready To Move        Lingadheeranahalli      3 BHK
4  Super built-up  Area  Ready To Move                  Kothanur      2 BHK

   society total_sqft  bath  balcony   price
0  Coomee        1056   2.0      1.0   39.07
1  Theanmp       2600   5.0      3.0  120.00
2      NaN       1440   2.0      3.0   62.00
3  Soiewre       1521   3.0      1.0   95.00
4      NaN       1200   2.0      1.0   51.00

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [42]:
#checking for null values - number of rows where each of the column value is null
df.isnull().sum()

# since lot of rows have null values, removed them for simplicity 
df.dropna(inplace=True)
df.isnull().sum()
df.shape

(13246, 5)

In [54]:
# checking the size column since it looks like there are multiple kinds of values in there
# checing all the unique values in that column 
print(df['size'].unique())

# since there are multiple values, and we only need the numerical part for the analysis, so we filter that out 
df['bhk'] = df['size'].apply(lambda x : x.split(' ')[0]).astype('float')
df

['2 BHK' '4 Bedroom' '3 BHK' '4 BHK' '6 Bedroom' '3 Bedroom' '1 BHK'
 '1 RK' '1 Bedroom' '8 Bedroom' '2 Bedroom' '7 Bedroom' '5 BHK' '7 BHK'
 '6 BHK' '5 Bedroom' '11 BHK' '9 BHK' '9 Bedroom' '27 BHK' '10 Bedroom'
 '11 Bedroom' '10 BHK' '19 BHK' '16 BHK' '43 Bedroom' '14 BHK' '8 BHK'
 '12 Bedroom' '13 BHK' '18 Bedroom']

                       location       size total_sqft  bath   price  bhk
0      Electronic City Phase II      2 BHK       1056   2.0   39.07  2.0
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00  4.0
2                   Uttarahalli      3 BHK       1440   2.0   62.00  3.0
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00  3.0
4                      Kothanur      2 BHK       1200   2.0   51.00  2.0
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00  5.0
13316             Richards Town      4 BHK       3600   5.0  400.00  4.0
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00  2.0
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00  4.0
13319              Doddathoguru      1 BHK        550   1.0   17.00  1.0

[13246 rows x 6 columns]

In [59]:
# checking the size column since it looks like there are multiple kinds of values in there
# checing all the unique values in that column 
print(df['total_sqft'].unique())

# # since there are multiple values, and we only need the numerical part for the analysis, so we filter that out 
# df['bhk'] = df['size'].apply(lambda x : x.split(' ')[0]).astype('float')
# df

['1056' '2600' '1440' ... '1133 - 1384' '774' '4689']

In [60]:
df.dtypes

location       object
size           object
total_sqft     object
bath          float64
price         float64
bhk           float64
dtype: object