In [1]:
import pandas as pd 
import numpy as np 
import scipy.stats as stats
import os
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn import preprocessing

In [3]:
cwd = os.getcwd()
df = pd.read_csv(cwd+'/datasets/bankCustomerChurn.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
# checking missing data
print(df.isnull().values.any())
print(df['Gender'].isnull().values.any())
print(df['Exited'].isnull().values.any())
print(df.Gender.unique())
df.columns = map(str.lower, df.columns)
df.columns

False
False
False
['Female' 'Male']

Index(['rownumber', 'customerid', 'surname', 'creditscore', 'geography',
       'gender', 'age', 'tenure', 'balance', 'numofproducts', 'hascrcard',
       'isactivemember', 'estimatedsalary', 'exited'],
      dtype='object')

### checking chi square using basic functions

In [44]:
# picking target and word_freq_all to find if there is any association between the two 
# observed data 
def check_oneBasic(coln):
    df_obs = pd.crosstab(coln, df.exited)
    print("Observed Data :\n", df_obs)

    # expected data 
    stat, p, dof, expected = stats.chi2_contingency(df_obs)
    print("\n1. Value of chi square : ", stat)
    print("2. p-value obtained for this chi square test :", p)
    print("3. degree of freeedom for this pair :",  dof)
    print("\nExpected Data: \n", pd.DataFrame(expected))

In [53]:
print('geography')
check_oneBasic(df.geography)
print('\ngender')
check_oneBasic(df.gender)

geography
Observed Data :
 exited        0    1
geography
France     4204  810
Germany    1695  814
Spain      2064  413

1. Value of chi square :  301.25533682434536
2. p-value obtained for this chi square test : 3.8303176053541544e-66
3. degree of freeedom for this pair : 2

Expected Data:
            0          1
0  3992.6482  1021.3518
1  1997.9167   511.0833
2  1972.4351   504.5649

gender
Observed Data :
 exited     0     1
gender
Female  3404  1139
Male    4559   898

1. Value of chi square :  112.91857062096116
2. p-value obtained for this chi square test : 2.2482100097131755e-26
3. degree of freeedom for this pair : 1

Expected Data:
            0          1
0  3617.5909   925.4091
1  4345.4091  1111.5909

### checking using the SelectKbest module from scikit learn

In [40]:
def check_one(coln):
    X = pd.DataFrame(coln)
    y = pd.DataFrame(df.exited)

    label_encoder = preprocessing.LabelEncoder()
    X_label = pd.DataFrame(label_encoder.fit_transform(X))

    selector = SelectKBest(chi2, k=1).fit(X_label,y)
    x_new = selector.transform(X_label)
    
    scores = selector.scores_
    print(scores)
    pvl = selector.pvalues_
    print(pvl)

In [42]:
print('geography')
check_one(df.geography)
print('gender')
check_one(df.gender)

geography
[11.85325057]
[0.00057561]
gender
[51.53992627]
[7.01557451e-13]

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [26]:
X1 = pd.DataFrame(df.geography)
X2 = pd.DataFrame(df.gender)
y = pd.DataFrame(df.exited)

label_encoder = preprocessing.LabelEncoder()
X1_label = pd.DataFrame(label_encoder.fit_transform(X1))
X2_label = pd.DataFrame(label_encoder.fit_transform(X2))
X = pd.concat([X1_label, X2_label], axis = 1)
X.columns = ['geo', 'gender']
selector = SelectKBest(chi2, k=1).fit(X,y) 
x_new = selector.transform(X)

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [60]:
# with k=n, will only apply if we transform the training set based on the features, if we choose not to, we still have scores of all the variables
print(X.columns[selector.get_support(indices=True)].tolist())
print(selector.scores_)
print(selector.pvalues_)
print(selector.get_params)

['gender']
[11.85325057 51.53992627]
[5.75607838e-04 7.01557451e-13]
<bound method BaseEstimator.get_params of SelectKBest(k=1, score_func=<function chi2 at 0x11dbe84d0>)>